* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: rgba(0,100,0,0.8);
  color: white;
}

.nav-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #64dd17;
}

/* HERO */
.hero {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('https://images.unsplash.com/photo-1501004318641-b39e6451bec6');

  background-size: cover;
  background-position: center;
}

.hero h1 {
  font-size: 3rem;
  animation: fadeIn 1s ease;
}

.hero-btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: #64dd17;
  color: white;
  border-radius: 25px;
  text-decoration: none;
}

/* SEARCH */
#search {
  margin: -40px auto 20px;
  padding: 15px;
  width: 50%;
  border-radius: 30px;
  border: none;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

/* FARMER PANEL */
.farmer-panel {
  display: none;
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 20px;
}

.farmer-panel input {
  margin: 10px;
  padding: 10px;
}

/* GRID */
.grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  padding: 20px;
}

/* CARD */
.card-product {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  transition: 0.3s;
}

.card-product:hover {
  transform: scale(1.05);
}

.card-product img {
  width: 50%;
  height: 180px;
  object-fit: cover;
}

.card-product button {
  margin: 5px;
  padding: 10px;
  border-radius: 100px;
  background: green;
  color: white;
  border: none;
}

/* AUTH */
.auth-bg {
  height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('https://images.unsplash.com/photo-1464226184884-fa280b87c399');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  padding: 30px;
  border-radius: 20px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(20px);
  color: white;
  text-align: center;
}

.auth-card input,
.auth-card select {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
}

/* FOOTER */
footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
  background: black;
  color: white;
}

/* ANIMATION */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}